.About {
    background-color: #f7f7f7;
    padding: 3rem;
}

h1 {
    color: #ccff33#44546A;;
    font-size: 2rem;
}

p {
    color: #44546a;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}